# Loading the IPL_2025 file for data cleaning and processing

In [118]:
import pandas as pd
pd.set_option('display.max_colwidth', 30)

In [119]:
path = "./Scraped Data/ipl_2018.csv"
df = pd.read_csv(path)

In [120]:
df.head()

,Unnamed: 0,match_date,match_link,first_inn_team,first_inn_score,second_inn_team,second_inn_score,match_result
0,0,"Apr 7, 2018",https://www.espncricinfo.c...,Mumbai Indians 165/4 (20 ov),165/4 (20 ov),Chennai Super Kings 169/9 ...,169/9 (19.5/20 ov),Chennai Super Kings won by...
1,1,"Apr 8, 2018",https://www.espncricinfo.c...,Delhi Daredevils 166/7 (20...,166/7 (20 ov),Kings XI Punjab 167/4 (18....,167/4 (18.5/20 ov),Kings XI Punjab won by 6 w...
2,2,"Apr 8, 2018",https://www.espncricinfo.c...,RCB 176/7 (20 ov),176/7 (20 ov),Kolkata Knight Riders 177/...,177/6 (18.5/20 ov),Kolkata Knight Riders won ...
3,3,"Apr 9, 2018",https://www.espncricinfo.c...,Rajasthan Royals 125/9 (20...,125/9 (20 ov),Sunrisers Hyderabad 127/1 ...,127/1 (15.5/20 ov),Sunrisers Hyderabad won by...
4,4,"Apr 10, 2018",https://www.espncricinfo.c...,Kolkata Knight Riders 202/...,202/6 (20 ov),Chennai Super Kings 205/5 ...,205/5 (19.5/20 ov),Chennai Super Kings won by...

In [121]:
df = df.rename(columns={'Unnamed: 0': 'match_number'}).astype({'match_number': 'int'})

In [122]:
df['match_number'] = df['match_number'] + 1
df.set_index('match_number', inplace=True)

In [123]:
df.head()

,match_date,match_link,first_inn_team,first_inn_score,second_inn_team,second_inn_score,match_result
match_number,,,,,,,
1,"Apr 7, 2018",https://www.espncricinfo.c...,Mumbai Indians 165/4 (20 ov),165/4 (20 ov),Chennai Super Kings 169/9 ...,169/9 (19.5/20 ov),Chennai Super Kings won by...
2,"Apr 8, 2018",https://www.espncricinfo.c...,Delhi Daredevils 166/7 (20...,166/7 (20 ov),Kings XI Punjab 167/4 (18....,167/4 (18.5/20 ov),Kings XI Punjab won by 6 w...
3,"Apr 8, 2018",https://www.espncricinfo.c...,RCB 176/7 (20 ov),176/7 (20 ov),Kolkata Knight Riders 177/...,177/6 (18.5/20 ov),Kolkata Knight Riders won ...
4,"Apr 9, 2018",https://www.espncricinfo.c...,Rajasthan Royals 125/9 (20...,125/9 (20 ov),Sunrisers Hyderabad 127/1 ...,127/1 (15.5/20 ov),Sunrisers Hyderabad won by...
5,"Apr 10, 2018",https://www.espncricinfo.c...,Kolkata Knight Riders 202/...,202/6 (20 ov),Chennai Super Kings 205/5 ...,205/5 (19.5/20 ov),Chennai Super Kings won by...

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_date        60 non-null     object
 1   match_link        60 non-null     object
 2   first_inn_team    60 non-null     object
 3   first_inn_score   60 non-null     object
 4   second_inn_team   60 non-null     object
 5   second_inn_score  60 non-null     object
 6   match_result      60 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

In [125]:
df.isnull().sum()

match_date          0
match_link          0
first_inn_team      0
first_inn_score     0
second_inn_team     0
second_inn_score    0
match_result        0
dtype: int64

In [126]:
null_rows = df[df.isnull().any(axis=1)]
null_rows

Empty DataFrame
Columns: [match_date, match_link, first_inn_team, first_inn_score, second_inn_team, second_inn_score, match_result]
Index: []

In [127]:
df["first_inn_team"] = df["first_inn_team"].str.split(r"\d", n=1).str[0].str.strip()
df["second_inn_team"] = df["second_inn_team"].str.split(r"\d", n=1).str[0].str.strip()

In [128]:
df.head()

,match_date,match_link,first_inn_team,first_inn_score,second_inn_team,second_inn_score,match_result
match_number,,,,,,,
1,"Apr 7, 2018",https://www.espncricinfo.c...,Mumbai Indians,165/4 (20 ov),Chennai Super Kings,169/9 (19.5/20 ov),Chennai Super Kings won by...
2,"Apr 8, 2018",https://www.espncricinfo.c...,Delhi Daredevils,166/7 (20 ov),Kings XI Punjab,167/4 (18.5/20 ov),Kings XI Punjab won by 6 w...
3,"Apr 8, 2018",https://www.espncricinfo.c...,RCB,176/7 (20 ov),Kolkata Knight Riders,177/6 (18.5/20 ov),Kolkata Knight Riders won ...
4,"Apr 9, 2018",https://www.espncricinfo.c...,Rajasthan Royals,125/9 (20 ov),Sunrisers Hyderabad,127/1 (15.5/20 ov),Sunrisers Hyderabad won by...
5,"Apr 10, 2018",https://www.espncricinfo.c...,Kolkata Knight Riders,202/6 (20 ov),Chennai Super Kings,205/5 (19.5/20 ov),Chennai Super Kings won by...

In [129]:
df['first_inn_team'].unique()

array(['Mumbai Indians', 'Delhi Daredevils', 'RCB', 'Rajasthan Royals',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Chennai Super Kings',
       'Sunrisers Hyderabad'], dtype=object)

In [130]:
team_map = {
    "Mumbai Indians": "MI",
    "Chennai Super Kings": "CSK",
    "Kolkata Knight Riders": "KKR",
    "Delhi Capitals": "DC",
    "Sunrisers Hyderabad": "SRH",
    "Rajasthan Royals": "RR",
    "Lucknow Super Giants": "LSG",
    "Punjab Kings": "PBKS",
    "Gujarat Titans": "GT"
}
df['first_inn_team'] = df['first_inn_team'].replace(team_map)
df['second_inn_team'] = df['second_inn_team'].replace(team_map)

In [131]:
df['first_inn_team'].unique()

array(['MI', 'Delhi Daredevils', 'RCB', 'RR', 'KKR', 'Kings XI Punjab',
       'CSK', 'SRH'], dtype=object)

In [132]:
df.head()

,match_date,match_link,first_inn_team,first_inn_score,second_inn_team,second_inn_score,match_result
match_number,,,,,,,
1,"Apr 7, 2018",https://www.espncricinfo.c...,MI,165/4 (20 ov),CSK,169/9 (19.5/20 ov),Chennai Super Kings won by...
2,"Apr 8, 2018",https://www.espncricinfo.c...,Delhi Daredevils,166/7 (20 ov),Kings XI Punjab,167/4 (18.5/20 ov),Kings XI Punjab won by 6 w...
3,"Apr 8, 2018",https://www.espncricinfo.c...,RCB,176/7 (20 ov),KKR,177/6 (18.5/20 ov),Kolkata Knight Riders won ...
4,"Apr 9, 2018",https://www.espncricinfo.c...,RR,125/9 (20 ov),SRH,127/1 (15.5/20 ov),Sunrisers Hyderabad won by...
5,"Apr 10, 2018",https://www.espncricinfo.c...,KKR,202/6 (20 ov),CSK,205/5 (19.5/20 ov),Chennai Super Kings won by...

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_date        60 non-null     object
 1   match_link        60 non-null     object
 2   first_inn_team    60 non-null     object
 3   first_inn_score   60 non-null     object
 4   second_inn_team   60 non-null     object
 5   second_inn_score  60 non-null     object
 6   match_result      60 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

In [134]:
df['match_date'] = df['match_date'].str.split(',').str[0].str.strip()

In [135]:
df.head()

,match_date,match_link,first_inn_team,first_inn_score,second_inn_team,second_inn_score,match_result
match_number,,,,,,,
1,Apr 7,https://www.espncricinfo.c...,MI,165/4 (20 ov),CSK,169/9 (19.5/20 ov),Chennai Super Kings won by...
2,Apr 8,https://www.espncricinfo.c...,Delhi Daredevils,166/7 (20 ov),Kings XI Punjab,167/4 (18.5/20 ov),Kings XI Punjab won by 6 w...
3,Apr 8,https://www.espncricinfo.c...,RCB,176/7 (20 ov),KKR,177/6 (18.5/20 ov),Kolkata Knight Riders won ...
4,Apr 9,https://www.espncricinfo.c...,RR,125/9 (20 ov),SRH,127/1 (15.5/20 ov),Sunrisers Hyderabad won by...
5,Apr 10,https://www.espncricinfo.c...,KKR,202/6 (20 ov),CSK,205/5 (19.5/20 ov),Chennai Super Kings won by...

In [136]:
df.to_csv('ipl_2018_cleaned.csv')